@page "/"
@implements IDisposable
@inject NavigationManager Navigation
@inject GameService Service
@inject ProtectedSessionStorage ProtectedSessionStore

<PageTitle>Game @userTitle</PageTitle>

<div class="columns m-1 is-multiline">

  @if( AllowStart )
  {
    <div class="column is-2">
      <div class="card">
        <header class="card-header">
          <span class="card-header-title is-centered">Players</span>
        </header>
        <div class="card mt-0 pt-0">
          <div class="card-content">
            @if( !Options.IsMaxPlayers )
            {
              <input @bind="playerName" placeholder="Player name" class="mb-2 mt-3" /><br />
              <button class="button is-link is-small" @onclick="AddPlayer">Register</button><br />
            }
            <ol>
              @foreach( var player in Options.Players )
              {
                <li>@player.Name</li>
              }
            </ol>
          </div>
        </div>
      </div>
    </div>
  }

  <div class="column is-4">
    <div class="card">
      <header class="card-header">
        <span class="card-header-title is-centered">@Title</span>
      </header>
      <div class="card mt-0 pt-0">
        <div class="card-content">
          <div class="content mt-0 pt-0">
            <table class="table" style="width: 100%;">
              <tr><td>Date:</td><td>@Current?.Date</td></tr>
              <tr><td>Target:</td><td>@Home.FormatAmt( @Current?.Target )</td></tr>
              <tr><td>Hands:</td><td>@Current?.Hand</td></tr>
              @if( HasWinner )
              {
                <tr><td>Winner:</td><td>@Current?.Winner?.Name</td></tr>
                <tr><td>Total:</td><td>@Home.FormatAmt( @Current?.Winner?.Total )</td></tr>
                <tr><td>Reason:</td><td>@Current?.EndReason</td></tr>
              }
             <tr>
                <td>Players:</td>
                <td>
                  <ol class="mt-0 ml-5">
                    @if( Current is not null )
                    {
                      @foreach( Player player in Current.PlayOrder )
                      {
                        <li><NavLink class="nav-link" href="@($"play/{@player.Id}")">@player.Name</NavLink>
                          @if( player.Play ) { <i> &lt;= playing</i> }
                          else if( player.Pass ) { <i> pass card</i> }</li>
                      }
                    }
                  </ol>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="column is-4">
    <div class="card">
      <header class="card-header">
        <span class="card-header-title is-centered">Options</span>
      </header>
      <div class="card mt-0 pt-0">
        <div class="card-content">
          <div class="content mt-0 pt-0">
            <EditForm Model="Options" OnSubmit="Submit" FormName="NewGame">
              <table>
                <tr><td><label for="Target">Target:</label></td><td><InputNumber id="Target" @bind-Value="Options!.Target"
                  style="max-width: 75px;" Step="250000" EnableMinMax="true" Min="250000" Max="1000000"></InputNumber></td></tr>
                <tr><td><label for="ReversePlay">Reverse Play:</label></td><td><InputCheckbox id="ReversePlay" @bind-Value="Options!.ReversePlay"></InputCheckbox></td></tr>
                <tr><td><label for="CardComments">Card Comments:</label></td><td><InputCheckbox id="CardComments" @bind-Value="Options!.CardComments"></InputCheckbox></td></tr>
                @if( AllowTests )
                {
                  <tr><td><label for="AutoPlay">Auto-Play:</label></td><td><InputCheckbox id="AutoPlay" @bind-Value="Options!.AutoPlay"></InputCheckbox></td></tr>
                  <tr><td><label for="InProgress">In-progress:</label></td><td><InputCheckbox id="InProgress" @bind-Value="Options!.InProgress"></InputCheckbox></td></tr>
                }
                <tr><td colspan="2">
                  <button class="button is-link" disabled="@(!AllowStart)" style="width: 100px;" type="submit">Start</button>
                </td></tr>
              </table>
            </EditForm>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="column is-8">
    <div class="card">
      <div class="card-content mt-0 pt-0">
        <div class="content">
          <div>
            <img class="logo" title="Copyright © Jeff London 1979, 2019." src="./img/Grass.gif">
          </div>
          <p>
            The Dealer is determined at random and the player to the Dealer's left starts, with play
            moving clockwise after that. In any subsequent hand the winner of the previous hand
            becomes the Dealer.<br>
            If the <i>Reverse Play</i> option is selected, the next hand is played counter-clockwise,
            then alternating with each subsequent hand.
          </p>
          <p>
            At the end of a hand, each player's profits are added up. Once a player reaches
            or exceeds the target, the game ends and that player is declared the winner.<br>
            If several players exceed the target in the same hand, the richest player wins!
          </p>
        </div>
      </div>
    </div>
  </div>

</div>