@page "/play/{id:int}"
@implements IDisposable
@inject GameService Service
@inject PlayState PlayState
@inject ProtectedSessionStorage ProtectedSessionStore

<PageTitle>Play @userTitle</PageTitle>

<SectionContent SectionId="MainLayout.MessageSection">
  @Message
</SectionContent>
<SectionContent SectionId="MainLayout.DateSection">
  @Service.Current.Date
</SectionContent>

<div class="columns pl-2 pr-2">

  <div class="column">
    <nav class="menu sticky">
      <p class="menu-label"><strong>@Player?.Name</strong></p>
      <nav class="my-1 px-2 @button.Class" role="navigation">
        <a class="button is-danger is-dark" @onclick="active.Toggle">@active.Text</a>
      </nav>
      <ul class="menu-list" style="list-style-type: none; margin-left: .25em;">
        <li class="@active.Class"><a class="quickLink" href="/play/@Id#inHand">In hand</a></li>
        <li><a class="quickLink" href="/play/@Id#stashPile">Stash pile</a></li>
        <li class="@scores.Class"><a class="quickLink" href="/play/@Id#scoreCards">Score cards</a></li>
      </ul>
    </nav>
  </div>

  <div class="column content is-8">

    @if( Notify is not null )
    {
      <div class="notification is-primary is-dark p-1">@Notify</div>
    }

    <table id="HasslePile" class="table">
      @((MarkupString)HasslePileHtml())
    </table>

    <div id="inHand" class="@active.Class">
      <h3 class="quickLinkHeader" @onclick="inHand.Toggle"><span class="icon toggleSection @inHand.Class"><i class="fa fa-angle-down"></i></span>In hand</h3>
      @if( Hand is not null )
      {
        <table class="table" style="@inHand.Style">
          <tr>
            @foreach( var card in Hand?.InHand! )
            {
              @if( Service.Current.Winner is null )
              {
                <td class="play-card">
                  <img @onclick="@(() => PlayState.Show( Player, card ) )"
                       class="image" title="@card.Comment" src="./img/cards/@card.Image">
                </td>
              }
              else
              {
                <td class="game-card">
                  <img class="image" title="@card.Comment" src="./img/cards/@card.Image">
                </td>
              }
            }
          </tr>
        </table>
      }
    </div>

    @if( PlayState.IsOpen )
    {
      <CardActionsDialog Options="PlayState.Options"
                         Service="Service"
                         OnCancel="PlayState.Cancel"
                         OnPlay="PlayCard"
                         OnPass="PassCard"
                         OnDiscard="Discard" />
    }

    <div id="stashPile" class="mt-2">
      <h3 class="quickLinkHeader" @onclick="stash.Toggle"><span class="icon toggleSection @stash.Class"><i class="fa fa-angle-down"></i></span>Stash pile</h3>
      <table class="table" style="@stash.Style">
        @((MarkupString)StashPileHtml())
      </table>
    </div>

    <div id="scoreCards" class="mt-2 @scores.Class">
      <h3 class="quickLinkHeader" @onclick="score.Toggle"><span class="icon toggleSection @score.Class"><i class="fa fa-angle-down"></i></span>Score cards</h3>
      <div class="columns is-multiline" style="@score.Style">
        @((MarkupString)ScoreCardsHtml())
      </div>
    </div>
  </div>

  <div class="column">
    <nav class="menu sticky">
      <p class="menu-label"><strong>Players</strong></p>
      <ul class="toc-menu" style="list-style-type: none; margin-left: 0;">
        @if( Service.Current is not null )
        {
          @foreach( Player player in Service.Current.PlayOrder )
          {
            @if( player == Player ) { <li><a class="player-current">@player.Name</a></li> }
            else { <li><a href="@($"play/{@player.Id}")">@player.Name</a></li> }
          }
        }
      </ul>
    </nav>
  </div>
</div>